<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944964355318-jtisqptgsr9i5jplpo6brmbcchi71sd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944964355318-jtisqptgsr9i5jplpo6brmbcchi71sd1</string>
	<key>API_KEY</key>
	<string>AIzaSyD__LTueyXuJxsoqBN3TJSwHQWBhddxgW4</string>
	<key>GCM_SENDER_ID</key>
	<string>944964355318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Duke-University.Joblr</string>
	<key>PROJECT_ID</key>
	<string>joblr-fc6e5</string>
	<key>STORAGE_BUCKET</key>
	<string>joblr-fc6e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944964355318:ios:da28831e2927b851ad98d7</string>
	<key>DATABASE_URL</key>
	<string>https://joblr-fc6e5.firebaseio.com</string>
</dict>
</plist>